body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

h1 {
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas de tamanho igual */
    gap: 10px; /* Espaço entre os itens */
    width: 90%; /* Ajuste a largura conforme necessário */
    max-width: 1200px;
    margin-bottom: 20px; /* Espaço abaixo do grupo de exercícios */
}

/* Configura o layout dos exercícios */
.exercise {
    background-color: #1e1e1e;
    padding: 20px; /* Margem interna (padding) */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center; /* Alinha o texto ao centro */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    width: 100%; /* Faz com que o exercício ocupe a largura total da coluna */
}

/* Especifica a posição dos exercícios */
#temperature-exercise {
    grid-column: 1 / 2; /* Primeiro exercício ocupa a primeira coluna */
}

#circle-exercise {
    grid-column: 2 / 3; /* Segundo exercício ocupa a segunda coluna */
}

#leapYear-exercise {
    grid-column: 3 / 4; /* Terceiro exercício ocupa a terceira coluna */
}

#factorial-exercise {
    grid-column: 1 / 2; /* Quarto exercício ocupa a primeira coluna na nova linha */
    margin-top: 20px; /* Espaço acima do quarto exercício */
}

#roulette-exercise {
    grid-column: 2 / 3; /* O exercício Roleta Russa ocupa a segunda coluna na nova linha */
    margin-top: 20px; /* Espaço acima do exercício Roleta Russa */
}

/* Alinha os campos de entrada ao centro */
input[type="number"],
input[type="submit"] {
    display: block; /* Faz com que os inputs se comportem como blocos */
    margin: 0 auto; /* Centraliza os inputs horizontalmente */
    width: 80%; /* Largura reduzida para não encostar nas bordas */
    max-width: 300px; /* Largura máxima para evitar que fique muito largo */
}

input[type="number"] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #6200ea;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3700b3;
}

#temperature-result-container,
#circle-result-container,
#leapYear-result-container,
#factorial-result-container,
#roulette-result-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #333;
    text-align: center; /* Alinha o texto ao centro */
}

#temperature-result,
#circle-result,
#leapYear-result,
#factorial-result,
#roulette-result {
    margin: 0;
    color: #fff;
}
